Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#string
str='sudip'
#list
l=[1,2,3,4]
#float
f=12.3
#tuple
tup=(1,2,3)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [8]:
#(i)string (ii)string (iii)List (iv)integer

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [9]:
#(i) /-This is used for division between 2 numbers. the numbers can be integer or float
var=12.5/2
print(var)

6.25

In [10]:
#(ii) % This is used for finding the remainder when we divide one number by another number
var=12%5
print(var)

2

In [11]:
#(iii) // this is a floor division operator used for returning the largest integer that is less than or equal to the result of the division
var= 12//5
print(var)

2

In [13]:
#(iv) ** this operator is used for exponential or power of operator for example 2 power 3 which is 2*2*2=8
var=2**3
print(var)

8

In [15]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

In [14]:
l=[1,2.3,'sudip',[1,2],(1,2),3,4.5,5,10,12]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2.3
<class 'float'>
sudip
<class 'str'>
[1, 2]
<class 'list'>
(1, 2)
<class 'tuple'>
3
<class 'int'>
4.5
<class 'float'>
5
<class 'int'>
10
<class 'int'>
12
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [23]:
def count_divisible(A, B):
    count = 0
    while A % B == 0:
        A /= B
        count += 1
    return count

A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

divisible_count = count_divisible(A, B)

if divisible_count > 0:
    print(f"{A} is purely divisible by {B} and can be divided {divisible_count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter the dividend (A):  23
Enter the divisor (B):  3

23 is not purely divisible by 3.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [20]:
l=[1,2,3,4,6,5,7,8,9,10,11,12,13,14,12,16,17,20,21,22,25,26,27,30,33]
for i in l:
    if(i%3==0):
        print(i," is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3  is divisible by 3
4 is not divisible by 3
6  is divisible by 3
5 is not divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9  is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12  is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
12  is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
20 is not divisible by 3
21  is divisible by 3
22 is not divisible by 3
25 is not divisible by 3
26 is not divisible by 3
27  is divisible by 3
30  is divisible by 3
33  is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [21]:
#Mutable data type are those data type that can be changed or add new elements or delete elements for example list
#Immutable data type -The data type whiich cannot be modified or changed after creating it for example tuple,string,etc
#Mutable example
list=[1,2,3,4]
list[0]=23
print(list)

[23, 2, 3, 4]

In [22]:
#immutable-we can see we get errors if we try to modify the data
tuple=(1,2,3,4)
tuple[0]=23
print(tuple)

TypeError: 'tuple' object does not support item assignment